@font-face {
  font-family: "choco" ;
  src: url("/Chocopy.otf") format("opentype");
}
* {
  box-sizing: border-box;
}
body {
  font-family: choco;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: black;
  text-align: center;
  color:white;
}
.tic {
  position:relative;
  width: 5rem;
  height: 5rem;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-size: 2rem;
}
.ticfield {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 15rem;
  align-self: center;
  justify-self: center;
  margin: auto;
}
.active {
  background-color: blue;
}
button {
  font-size: 1rem;
  border-radius: 18px;
  padding:0.5rem;
}